<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041440717629-8s7esf406311svjjmdg06cdc367nf604.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041440717629-8s7esf406311svjjmdg06cdc367nf604</string>
	<key>API_KEY</key>
	<string>AIzaSyAu8sDDfU6H-ld8Y4k_Mg411QktZpq8OkA</string>
	<key>GCM_SENDER_ID</key>
	<string>1041440717629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scn_easy.customer</string>
	<key>PROJECT_ID</key>
	<string>scn_easy-79257</string>
	<key>STORAGE_BUCKET</key>
	<string>scn_easy-79257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041440717629:ios:b92a2d9f0df30928b66354</string>
</dict>
</plist>